<h1>id: <%= @message.id %>のメッセージ詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @message.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @message.title %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @message.content %></td>
  </tr>
</table>

<%= link_to 'このメッセージを編集する', edit_message_path(@message), class: "btn btn-default" %>
<%= link_to 'このメッセージを削除する', @message, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" %>